:root{
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}
*{
    margin: 0;
}
.hero{
    background-color: rgb(231, 241, 245);
    background-image: url(images/bg-hero-desktop.svg) ;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    font-family: 'Poppins', sans-serif;
}
nav button{
    background-color: white;
    border: none;
    box-shadow: 0 10px 10px 0 rgba(126, 125, 125, 0.24), 0 10px 40px 0 rgba(119, 119, 119, 0.19);;
    padding: .5rem 3rem .5rem 3rem;
    border-radius: 2rem;
    margin-right: 3em;
}
nav img{
    margin-left: 3em;
}
.hero-body{
    display: flex;
    font-family: 'Open Sans', sans-serif;
}
.hero-body img{
    width: 48%;
    padding-right: 2em;
    padding-left: 1em;
    height: 85%;
    padding-bottom: .75em;
}
.hero-body-text{
    padding-left: 3em;
    width: 45%;
    padding-top: 3em;
}
.hero-body-text button{
    border: none;
    background-color: var(--pink);
    padding: 1rem 3.5rem 1rem 3.5rem;
    border-radius: 1.5em;
    color: white;
    margin-top: 2em;
}
.hero-body-text h1{
    margin-bottom: 1em;
}
.message-cards{
    font-family: 'Open-Sans', sans-serif
}
/* GROW */
.grow-card{
    display: flex;
    padding: 2em;
    margin: 4em 3em 3em 3em;
    box-shadow: 0 0 10px 5px rgb(236, 235, 235);
    border-radius: 1em;
}
.grow-card img{
    width: 20em;
    height: 20.5em;
    object-fit: contain;
    padding-left: 4em;
    margin-left: 2rem;
}
.grow-txt{
    width: 50%;
    margin-top: 7rem;
    margin-left: 3rem;
}
.grow-txt p{
    color: var(--grayish-blue);
}
/* FLOWING */
.flowing-card{
    display: flex;
    padding: 2em;
    margin: 4em 3em 3em 3em;
    box-shadow: 0 0 10px 5px rgb(236, 235, 235);
    border-radius: 1em;
}
.flowing-card img{
    width: 20em;
    height: 20.5em;
    object-fit: contain;
    padding-left: 4em;
    margin-right: 2rem;
    margin-left: 2rem;
}
.flow-txt{
    width: 50%;
    margin-top: 7rem;
    margin-left: 3rem;
}
.flow-txt p{
    color: var(--grayish-blue);
}
/*USERS*/
.users-card{
    display: flex;
    padding: 2em;
    margin: 4em 3em 3em 3em;
    box-shadow: 0 0 10px 5px rgb(236, 235, 235);
    border-radius: 1em;
}
.users-card img{
    width: 20em;
    height: 20.5em;
    object-fit: contain;
    padding-left: 4em;
    margin-left: 2rem;
}
.user-txt{
    width: 50%;
    margin-top: 7rem;
    margin-left: 3rem;
}
.user-txt p{
    color: var(--grayish-blue);
}
.started-bubble{
    display: flex;
    padding: 2em;
    margin: 4em 11em 3em 11em;
    box-shadow: 0 0 10px 5px rgb(236, 235, 235);
    border-radius: 1em;
    flex-direction: column;
    align-items: center;
}
.started-bubble button{
    width: fit-content;
    border: none;
    background-color: var(--pink);
    padding: 1rem 3.5rem 1rem 3.5rem;
    border-radius: 1.5em;
    color: white;
    margin-top: 2em;
}
.footer{
    display: flex;
    background-color:var(--very-dark-cyan);
    color: var(--grayish-blue);
    justify-content: space-evenly;
    padding: 4em 0 2em 0;
    font-family: 'Open-Sans', sans-serif;
}
.left-footer{
    max-width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.links-1{
    max-width: 25%;
}
.links-1 ul{
    cursor: pointer;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.links-2{
    max-width: 25%;
}
.links-2 ul{
    cursor: pointer;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.socials{
    max-width: 25%;
}
.location{
    display: flex;
    gap: 2rem;
}
.location img{
    max-height: 20px;
}
.number{
    display: flex;
    gap: 2rem;
}
.email{
    display: flex;
    gap: 2rem;
}
footer{
    background-color: var(--very-dark-cyan);
    color: var(--grayish-blue);
    text-decoration: none;
}